body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

p {
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.intructions {
    padding: 3em;
    box-shadow: 4px 5px 6px rgba($color: #000000, $alpha: 0.2);
}

#scope-tower {
    display: flex;
    justify-content: center;
}

.canvas {
    display: flex;
    flex-direction: column;

    .selected {
        margin-bottom: auto;
    }

    .disc {
        width: 200px;
        height: 40px;
        background-color: gold;
        // border-radius: 50%;
        border: 1px solid #000;
    }

    .container-tower {
        display: flex;
        justify-content: center;
        .tower {
            // Make borders even
            width: 220px;
            height: 20rem;
            border: 5px solid red;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background-image: url(/imgs/peg.svg);
            background-position: bottom;
            background-repeat: no-repeat;

            &-A {
                background-color: #000000;
            }
            &-B {
                background-color: blue;
                border-right: 0;
                border-left: 0;
            }
            &-C {
                background-color: purple;
            }
        }
    }

    .ground {
        width: 100%;
        height: 5rem;
        background-color: gray;

        display: flex;
        justify-content: space-evenly;
    }
}

.game-controll {
    text-align: center;
    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            width: 70px;
            padding: 1em;
            font-size: 1.3rem;

            // &.btn-plus {
            //     background-color: green;
            // }
            // &.btn-minus {
            //     background-color: red;
            // }
        }
    }
}
